@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, Tahoma;
  --bg-primary: #7b869c;
  --bg-secondary: #2d2d34;
  --font-color-primary: #f7f0f0;
  --font-color-secondary: #5dc2d9;
  --backup-color: #306b34;
}